@using NBILicenseProjectMVC.Enums
@model NBILicenseProjectMVC.Models.Applicant

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align: center">Update Details</h1>
<br />
<h4>Applicant's Details</h4>
<hr />
<div class="row">
    <div class="col-md-6 " style="font-size:20px; color:maroon">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                @Html.DropDownList("BranchName", Enum.GetValues(typeof(nbibranch))
                        .Cast<nbibranch>()
                        .Select(e => new SelectListItem() { Value = e.ToString(), Text = e.GetDisplayName() }), "-- Select lists of NBI Branches --"
                        , new{ @class="form-control"})
                <span asp-validation-for="BranchName" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <textarea asp-for="Lastname" class="form-control" text-wrap:normal" type="text" placeholder="Enter Last Name"></textarea>
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                    <textarea asp-for="Firstname" class="form-control" text-wrap:normal" type="text" placeholder="First Name (Ex. DAVID JR, JOHN III"></textarea>
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Middlename" class="control-label"></label>
                <textarea asp-for="Middlename" class="form-control" text-wrap:normal" type="text" placeholder="Enter Middle Name"></textarea>
                <span asp-validation-for="Middlename" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" min=@DateTime.Now.AddDays(+1).ToString("yyyy-MM-dd") max=@DateTime.Now.AddDays(+30).ToString("yyyy-MM-dd") />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidId" class="control-label"></label>
               
                @Html.DropDownList("ValidId", Enum.GetValues(typeof(ValidIds))
                .Cast<ValidIds>()
                .Select(e => new SelectListItem() { Value = e.ToString(), Text = e.GetDisplayName() }) , "-- Select lists of valid ID's --",
               new{ @class="form-control"})
                <span asp-validation-for="ValidId" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="ApplicantPicture" class="control-label"></label>
               <textarea asp-for="ApplicantPicture" class="form-control" text-wrap:normal" type="text" placeholder="Enter URL for photo"></textarea>
                <span asp-validation-for="ApplicantPicture" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" max=@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd") />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.DropDownList("Gender", Enum.GetValues(typeof(Gender))
                .Cast<Gender>()
                .Select(e => new SelectListItem() { Value = e.ToString(), Text = e.GetDisplayName() }), "-- Select Gender --"
                , new{ @class="form-control"})
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CivilStatus" class="control-label"></label>
                @Html.DropDownList("CivilStatus", Enum.GetValues(typeof(CivilStatus))
                .Cast<CivilStatus>()
                .Select(e => new SelectListItem() { Value = e.ToString(), Text = e.GetDisplayName() }), "-- Select Civil Status --"
                , new{ @class="form-control"})
                <span asp-validation-for="CivilStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationalAttainment" class="control-label"></label>
                @Html.DropDownList("EducationalAttainment", Enum.GetValues(typeof(Education))
                .Cast<Education>()
                .Select(e => new SelectListItem() { Value = e.ToString(), Text = e.GetDisplayName() }), "-- Select Educational Attainment --"
                , new{ @class="form-control"})
                <span asp-validation-for="EducationalAttainment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandlineNumber" class="control-label"></label>
                <textarea asp-for="LandlineNumber" class="form-control" text-wrap:normal" type="text" placeholder="10-digit Landline Number (032XXXXXXX)"></textarea>
                <span asp-validation-for="LandlineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <textarea asp-for="MobileNumber" class="form-control" text-wrap:normal" type="text" placeholder="11-digit Mobile Number (09XXXXXXXXX)"></textarea>
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complexion" class="control-label"></label>
                @Html.DropDownList("Complexion", Enum.GetValues(typeof(complexion))
                    .Cast<complexion>()
                    .Select(e => new SelectListItem() { Value = e.ToString(), Text = e.GetDisplayName() }), "-- Select type of complexions --"
                    , new{ @class="form-control"})
                <span asp-validation-for="Complexion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peculiarities" class="control-label"></label>
                <textarea asp-for="Peculiarities" class="form-control" text-wrap:normal" type="text" placeholder="Provide any peculiarities."></textarea>
                <span asp-validation-for="Peculiarities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <textarea asp-for="Religion" class="form-control" text-wrap:normal" type="text" placeholder="Enter your Religious Affiliation'"></textarea>
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" type="range" id="slider3" min="1" max="300"  />
                <label class="range-value3" id="range-value3">@Model.Height</label>
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" type="range" id="slider4" min="1" max="200"  />
                <label class="range-value4" id="range-value4">@Model.Weight</label>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HusbandOrWifeName" class="control-label"></label>
                <textarea asp-for="HusbandOrWifeName" class="form-control" text-wrap:normal" type="text" placeholder="Enter Husband or Wife Name if married'"></textarea>
                <span asp-validation-for="HusbandOrWifeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <textarea asp-for="FatherName" class="form-control" text-wrap:normal" type="text" placeholder="Enter Father's Name'"></textarea>
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherBirthplace" class="control-label"></label>
                <textarea asp-for="FatherBirthplace" class="form-control" text-wrap:normal" type="text" placeholder="Enter your Father's Birth Place'"></textarea>
                <span asp-validation-for="FatherBirthplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <textarea asp-for="MotherName" class="form-control" text-wrap:normal" type="text" placeholder="Enter Mother's Name'"></textarea>
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherBirthplace" class="control-label"></label>
                 <textarea asp-for="MotherBirthplace" class="form-control" text-wrap:normal" type="text" placeholder="Enter Mother's Birth Place"></textarea>
                <span asp-validation-for="MotherBirthplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SAVE" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a class="btn btn-primary"  asp-controller="Home" asp-action="Index">CANCEL</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
