@model IEnumerable<NBILicenseProjectMVC.Models.Applicant>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h3" style="text-align:center"><b>APPLICANT DETAILS</b></h1>
<br />

<div>
    <div style="text-align:left">
    @using (Html.BeginForm("Index", "Applicant", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    <p>Search By:</p>
                    @Html.RadioButton("searchBy", "Firstname", true)
                    <text> First Name</text>
                    @Html.RadioButton("searchBy", "Lastname")
                    <text> Last Name</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue", null, new{Class="form-control",placeholder="Enter First/Last Name"})
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-success" />
                </td>
                <td> &nbsp; </td>
            </tr>

        </table> <br />

    }
    </div>
    <br />
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
    <div class="table table-hover table-striped">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicantPicture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                       @Html.DisplayNameFor(model => model.ValidId)
                        
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">  @Html.DisplayNameFor(model => model.Lastname)</a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Middlename)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Birthdate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CivilStatus)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-family:'Segoe UI'; font-size: 14px">
                        <td>
                            <img src="@item.ApplicantPicture" class="rounded mx-auto d-block" style="overflow: hidden; position: relative; width:200px; height:200px;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValidId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Middlename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CivilStatus)
                        </td>

                        <td style="width:80px;">
                            <nav class="navbar navbar-light ">
                                <form class="form-inline">
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </form>
                            </nav>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    

</div>
